
.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.ac {
    grid-area: ac;
}

.c {
    grid-area: c;
}

.percentage {
    grid-area: percentage;
}

.divide {
    grid-area: divide;
}

.multiply {
    grid-area: multiply;
}

.minus {
    grid-area: minus;
}

.plus {
    grid-area: plus;
}

.equals {
    grid-area: equals;
}

.comma {
    grid-area: comma;
}

.plus-minus {
    grid-area: plus-minus;
}

.screen {
    grid-area: header;
    background-color: rgb(245, 240, 233);
    margin: 10px 0px;
    box-shadow: 3px 3px 8px inset rgb(100, 81, 57) ;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: 700;
    text-align: end;
    
}

.sketch {
    margin: 40px auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 120px repeat(5, 40px);
    gap: 5px;
    padding: 10px;
    background-color: bisque;
    grid-template-areas: 
        "header header header header"
        "ac c percentage divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "zero comma plus-minus equals";
}

#equal-sign {
    background-color: rgb(102, 64, 148);
    color: white;
}

button {
    background-color: rgb(212, 197, 230);
    box-shadow: 1px 2px 3px rgb(87, 74, 104);
    border: none;
    border-radius: 15px;
    font-weight: 700;
    font-size: larger;
}

div {
    border: 10px solid rgb(42, 29, 59);
    border-radius: 12px;
}

button:hover{
    background-color: rgb(155, 130, 187);
}

button:active{
    width: 73px;
    height: 38px;
}